body {
    font-family: Arial;
}

#InputResult {
    background-color: black;
    color: white;
    height: 5%;
    width: 39%;
}

.button {
    height: 5%;
    width: 6%;
    color: white;
    font-size: 100%;
    color: white;
}

#btnClear, #btnBack, #btn7, #btn8, #btn9, #btn4, #btn5, #btn6, #btn1, #btn2, #btn3, #btn0 {
	height: 5%;
    width: 6%;
    background-color: #000000c2;
    color: white;
}

#btnPie, #btnSqrt, #btnSq, #btnPercent, #btnLog, #btnSin, #btnExp, #btnPower, #btnPlusMinus, #btnDivide, #btnIn, #btnCos, #btnMultiply, #btnFactorial, #btnTan, #btnMinus, #btnPlus, #btnPeriod {
    background-color: gray;
    height: 5%;
    width: 6%;
    color: white;
}

#btnEqual {
    background-color: blue;
    height: 5%;
    width: 6%;
    color: white;
}

#btnRadians, #btnDegrees, #btn0 {
    width: 12.4%;
    height: 5%;
    color: white;
    background-color: #000000c2;
}
